<container class="content-skus style-{{site}}">
	{{#if content-skus-heading }}
		<row class="heading">
			<columns>
				<h2 class="text-center"><a href="{{content-skus-heading-url}}">{{content-skus-heading}}</a></h2>
			</columns>
		</row>
	{{/if}}
	<row class="collapse">
		<columns large="4" small="6">
			<center>
				<a href="http://www.shoes.com/womens-aetrex-autumn-iron-p2_id481210">
					<img src="http://s.shoes.com/images/br139/womens-aetrex-autumn-iron-527793_120_45.jpg"/>
				</a>
			</center>
			<row>
				<columns large="4" small="6">
					<h1 class="text-center">01</h1>
				</columns>
				<columns large="8" small="6" >
					<h5>Women's Aetrex</h5>
					<h3>Autumn</h3>
				</columns>
			</row>
		</columns>
		<columns large="4" small="6">
			<center>
				<a href="http://www.shoes.com/womens-aetrex-autumn-iron-p2_id481210">
					<img src="http://s.shoes.com/images/br139/womens-aetrex-autumn-iron-527793_120_45.jpg"/>
				</a>
			</center>
			<row>
				<columns large="4" small="6">
					<h1 class="text-center">01</h1>
				</columns>
				<columns large="8" small="6" >
					<h5>Women's Aetrex</h5>
					<h3>Autumn</h3>
				</columns>
			</row>
		</columns>
		<columns large="4" small="6">
			<center>
				<a href="http://www.shoes.com/womens-aetrex-autumn-iron-p2_id481210">
					<img src="http://s.shoes.com/images/br139/womens-aetrex-autumn-iron-527793_120_45.jpg"/>
				</a>
			</center>
			<row>
				<columns large="4" small="6">
					<h1 class="text-center">01</h1>
				</columns>
				<columns large="8" small="6" >
					<h5>Women's Aetrex</h5>
					<h3>Autumn</h3>
				</columns>
			</row>
		</columns>
	</row>
	<row class="collapse">
		<columns large="4" small="6">
			<center>
				<a href="http://www.shoes.com/womens-aetrex-autumn-iron-p2_id481210">
					<img src="http://s.shoes.com/images/br139/womens-aetrex-autumn-iron-527793_120_45.jpg"/>
				</a>
			</center>
			<row>
				<columns large="4" small="6">
					<h1 class="text-center">01</h1>
				</columns>
				<columns large="8" small="6" >
					<h5>Women's Aetrex</h5>
					<h3>Autumn</h3>
				</columns>
			</row>
		</columns>
		<columns large="4" small="6">
			<center>
				<a href="http://www.shoes.com/womens-aetrex-autumn-iron-p2_id481210">
					<img src="http://s.shoes.com/images/br139/womens-aetrex-autumn-iron-527793_120_45.jpg"/>
				</a>
			</center>
			<row>
				<columns large="4" small="6">
					<h1 class="text-center">01</h1>
				</columns>
				<columns large="8" small="6" >
					<h5>Women's Aetrex</h5>
					<h3>Autumn</h3>
				</columns>
			</row>
		</columns>
		<columns large="4" small="6">
			<center>
				<a href="http://www.shoes.com/womens-aetrex-autumn-iron-p2_id481210">
					<img src="http://s.shoes.com/images/br139/womens-aetrex-autumn-iron-527793_120_45.jpg"/>
				</a>
			</center>
			<row>
				<columns large="4" small="6">
					<h1 class="text-center">01</h1>
				</columns>
				<columns large="8" small="6" >
					<h5>Women's Aetrex</h5>
					<h3>Autumn</h3>
				</columns>
			</row>
		</columns>
	</row>
</container>